.margin{width:1200px;margin:0 auto;}

#top-t{height:35px;background:#f7f7f7;}
#top-t .margin a.left{display:block;width:68px;height:14px;background:url(../../public/img/syicon.png) no-repeat left center;font:12px/14px "";float:left;padding:10px;text-indent:10px;color:#666;}
#top-t .margin .right{float:right;padding:4px;color:#666;height:16px;}
#top-t .margin .right li{float:left;font:12px/27px "";color:#666;padding-left:10px;padding-right:10px;position:relative;}
#top-t .margin .right li i{font:12px/27px "";color:#666;}
#top-t .margin .right li:after{content:"";display:block;width:1px;height:12px;background:#c5c4c4;position:absolute;top:7px;left:0;}
#top-t .margin .right li.wel:after{content:"";display:none;}
#top-t .margin .right li.wel a{color:#0066cc;}
#top-t .margin .right li.land:after{content:"";display:none;}
#top-t .margin .right .land{padding:0 12px 0 18px;}
#top-t .margin .right .land a{color:#0066cc;}
#top-t .margin .right li a.xj{padding-right:9px;background:url(../../public/img/xj.png) no-repeat right 7px;}
#top-t .margin .right li span{position:absolute;display:block;top:0;left:0;background:url(../../public/img/zhenghe.png) no-repeat;}
#top-t .margin .right li.telUl{padding-left:26px;}
#top-t .margin .right li.telUl span{width:10px;height:16px;left:10px;top:6px;}
#top-t .margin .right li.shopUl{padding-left:32px;}
#top-t .margin .right li.shopUl span{width:15px;height:14px;left:11px;top:7px;background-position:-15px 0;}
#top-t .margin .right li.phone{padding-left:32px;}
#top-t .margin .right li.phone span{width:16px;height:16px;left:12px;top:6px;background-position:-32px 0;}
#top-t .margin .right li.phone i{font:600 12px/27px "";color:#c4100d;}

#header{background:#fff;border-bottom:4px solid #c7181d;}
#header .logo{float:left;display:block;width:75px;height:75px;padding:12px 0;}
#header .search{float:left;margin:22px 0 0 578px;width:533px;height:64px;}
#header .search .txt{width:457px;height:30px;border:solid 3px #c7181d;float:left;font:14px "";color:#999;text-indent:6px;}
#header .search .btn{width:70px;height:36px;border:none;float:right;background:#c7181d;color:#fff;font:14px "";}
#header .search .suggest{float:left;}
#header .search .suggest a{font:12px/28px "";}
#header .search .suggest a:hover{text-decoration:underline;}
#header .search .suggest .te{color:#c51010;}
#header .shopCar{float:right;width:139px;height:14px;border:solid 1px #bdbdbd;margin-top:22px;padding:9px 10px 10px;}

#main{}
#main .link{font:12px/34px "";padding-top:3px;}
#main .link a{color:#0066cc;}
#main .information{height:560px;border:solid 1px #e9e9e9;padding-left:20px;padding-top:20px;}
#main .information .left{float:left;}
#main .information .left .sBox{width:400px;height:400px;position:relative;}
#main .information .left .sBox img{width:400px;height:400px;}
#main .information .left .sBox span{display:block;background:rgba(200,200,200,0.6);position:absolute;width:80px;height:80px;top:0;left:0;display:none;}
#main .information .left .bBox{width:400px;height:400px;position:absolute;background:red;top:190px;left:500px;overflow:hidden;display:none;}
#main .information .left .bBox img{width:1600px;height:1600px;position:absolute;left:0;top:0;}
#main .information .left .graph{padding-top:15px}
#main .information .left .graph li{float:left;margin:0 7px;}
#main .information .left .graph li:nth-child(1){margin-left:0;}
#main .information .left .graph li img{display:block;width:62px;height:62px;padding:1px;border:1px solid #e7e7e7;}
#main .information .left .graph li.active{border:2px solid red;}
#main .information .center{float:left;margin-left:20px;width:593px;border-right:solid 1px #e7e7e7;}
#main .information .left .sBox img{width:398px;height:398px;}
#main .information .center{}
#main .information .center ul{padding-bottom:9px;border-bottom:dotted 1px #ccc;width:573px;}
#main .information .center ul li i{margin-left:35px}
#main .information .center ul li:nth-child(1) h4{font:700 16px/18px "";}
#main .information .center ul li:nth-child(1) p{font:12px/32px "";color:#666;}
#main .information .center ul li:nth-child(2){font:12px/50px "";color:#666;}
#main .information .center ul li:nth-child(2) i{margin-left:23px;}
#main .information .center ul li:nth-child(3){font:12px/3 "";color:#666;}
#main .information .center ul li:nth-child(3) i{font:700 26px/3 "";color:#c52e15;}
#main .information .center ul li:nth-child(4){font:12px/20px "";color:#666;padding-top:8px;}
#main .information .center ul li:nth-child(5){font:12px/20px "";color:#666;}
#main .information .center ul li:nth-child(5) span{float:left;}
#main .information .center ul li:nth-child(5) p{color:#666;width:210px;float:left;margin-left:38px;}
#main .information .center ul li:nth-child(6){font:12px/40px "";color:#666;}
#main .information .center ul li:nth-child(7){font:12px/40px "";color:#666;}
#main .information .center ul li:nth-child(8){font:12px/40px "";color:#666;}
#main .information .center ul li:nth-child(8) input{margin-left:38px;}
#main .information .center ul li:nth-child(9){font:12px/40px "";color:#666;}
#main .information .center ul li:nth-child(9) i{color:#b30808;font:700 12px/40px "";}
#main .information .center .car{padding:33px 0 42px 58px;border-bottom:dotted 1px #ccc;width:515px;}
#main .information .center .car input{border-radius:5px;float:left;}
#main .information .center .car .buy{display:block;width:126px;height:38px;border:solid 1px #a71326;background:#d10208;font:700 16px/38px "";color:#fff;text-align:center;cursor:pointer;}
#main .information .center .car .add{display:block;width:146px;height:38px;border:solid 1px #ea4d08;background:#f6730b url(../img/car.png) no-repeat 21px 12px;font:700 16px/38px "";color:#fff;text-indent:40px;margin-left:10px;cursor:pointer;}
#main .information .center .car .collect{display:block;width:74px;height:38px;border:solid 1px #bdbdbd;background:#fafafa url(../img/xin.png) no-repeat 11px 12px;font:700 16px/38px "";color:#c52e15;text-indent:30px;margin-left:10px;cursor:pointer;}
#main .information .right{float:right;}
#main .information .right h4{margin-left:19px;border-bottom:dotted 1px #ccc;width:126px;font:700 12px/34px "";}
#main .information .right ul{padding:0 19px;}
#main .information .right ul li{width:126px;height:126px;padding-top:10px;}
#main .information .right ul li img{width:126px;height:126px;}





#footer{background:#fff;padding-bottom:34px;}
#footer .advantage{height:26px;padding:32px 0;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;margin-top:20px;}
#footer .advantage li{width:300px;height:26px;float:left;position:relative;}
#footer .advantage li:after{content:"";display:block;width:1px;height:26px;background:#dedede;position:absolute;right:0;top:0;}
#footer .advantage .li4:after{content:"";display:none;}
#footer .advantage li h3{font:700 18px/26px "";color:#555;}
#footer .advantage li span{position:absolute;background:url(../../public/img/zhenghe2.png) no-repeat;}
#footer .advantage .li1 h3{float:left;}
#footer .advantage .li1 h3.first{margin-left:114px;}
#footer .advantage .li1 h3.second{margin-left:53px;}
#footer .advantage .li1 .youz{width:70px;height:20px;top:4px;background-position:0 -8px;left:41px;}
#footer .advantage .li1 .tom{width:39px;height:18px;background-position:0 -40px;left:137px;top:5px;}
#footer .advantage .li2 h3{margin-left:91px;}
#footer .advantage .li2 span{width:24px;height:24px;background-position:-85px -8px;left:60px;}
#footer .advantage .li3 h3{margin-left:90px;}
#footer .advantage .li3 span{width:24px;height:18px;background-position:-120px -10px;left:55px;top:4px;}
#footer .advantage .li4 h3{margin-left:95px;}
#footer .advantage .li4 .wx{width:24px;height:20px;background-position:-219px -220px;left:60px;top:3px;}
#footer .advantage .li4 .ma{width:68px;height:68px;background-position:-110px -273px;left:180px;top:-21px;}
#footer .advantage .li4 .sao{width:36px;height:17px;background-position:-148px -211px;left:140px;top:-18px;}
#footer .guide{padding:15px 0 20px 0;height:204px;border-bottom:solid 1px #ddd;}
#footer .guide li{float:left;width:120px;margin-right:96px;}
#footer .guide li.last{margin:0;}
#footer .guide li dl dt{font:700 12px/22px "";color:#666;border-bottom:dotted 1px #ccc;}
#footer .guide li dl dd{font:12px/22px "";color:#666;}
#footer .link{padding-top:12px;}
#footer .link p{font:12px/26px "";color:#999;}
#footer .link ul{height:24px;padding-top:11px;}
#footer .link ul li{float:left;}
#footer .link ul li a{display:block;width:98px;height:32px;border:solid 1px #dcdcdc;margin-right:10px;background:url(../../public/img/zhenghe2.png) no-repeat;}
#footer .link ul li .a1{background-position:-310px -229px;}
#footer .link ul li .a2{background-position:-298px -169px;}
#footer .link ul li .a3{background-position:-21px -213px;}
#footer .link ul li .a4{background-position:-166px -12px;}
#footer .link ul li .a5{background-position:-148px -145px;}
#footer .link ul li .a6{background-position:-11px -137px;}
#footer .link ul li .a7{background-position:-249px -100px;}
#footer .link ul li .a8{background-position:-121px -68px;}
#footer .link ul li .a9{background-position:-11px -84px;}